{% load static %}

<header class="header-section">
    <div class="container">

        <a class="site-logo" href="{% url 'main:home' %}">
            <img src="{% static 'img/logo.png' %}" alt>
        </a>
        <div class="user-panel">
            <a href="{% url 'account:login' %}">Login</a> / <a href="{% url 'account:register' %}">Register</a>
        </div>

        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>

        <nav class="main-menu">
            <ul>
                <li><a href="{% url 'main:home' %}">Home</a></li>
                <li><a href="{% url 'game:games' %}">Games</a></li>
                <li><a href="{% url 'blog:list' %}">Blog</a></li>
                <li><a href="{% url 'main:forum' %}">Forums</a></li>
                <li><a href="{% url 'main:contact' %}">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

